ORIGIN=http://localhost:5173
ORIGIN_DEV=http://localhost:5173
BETTER_AUTH_SECRET=your_very_long_secret_key_at_least_32_characters_long_here
CHAT_MODEL_URL=OPENAI_compatible_API_URL
CHAT_MODEL_API_KEY=
EMBEDDING_URL=
EMBEDDING_URL_KEY=
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DATABASE=
BODY_SIZE_LIMIT=100M
